.logo {
    height: 195px;
    width: 195px;
    display: block;
    margin: 0 auto
}

.screen {
    align-items: center;
    display: flex;
    
    justify-content: center;
    position: absolute; 
    top: 0;
    width: 100%;
    max-height: 100vh;
    height: 100vh;
}

.btn {
    
}

.groop {
    height: ;
}