.logo {
    height: 195px;
    width: 195px;
    display: block;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    height: 100%;
    
}


.group {
    display: flex;
    margin-top: 40%;
}

