.stackBase {
    height: 800px;
    display: flex;
    background-color: rgb(92, 156, 230);
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: 100%;
}


.swiperSlide {
    text-align: center;
    background: #ffffff;
    border-radius: 11px;
    /* Center slide text vertically */
    /* width: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper {
    height: 250px;
    width: 100vw;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
} 

/* .swiper {
    width: 480px;
    height: 890px;
} */

.btnFurther {
    align-items: center; 
    position: absolute;
    
    bottom: 80px;
    justify-content: center;
    width: 90vw;
} 

/* .Button:hover {
    border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(0,0,0,0);
} */




