.background {
    background: linear-gradient(#5C9CE6, #5C9CE6, #5c9ce6b4, rgb(255, 255, 255));
}

.title {
    padding: 15px;
    color: white;
}

.caption {
    padding: 15px;
    margin-top: -20px;
    color: white;
}