/* .styles_groop__N8YhE {
    height: 100vh;
}

.vkuiPanel__in {
    height: 100vh;
    background-color: red;
}

#CONNECT_QUIZ .vkuiPanel__centred {
    position: relative;
}

#CONNECT_QUIZ .vkuiPanel__centred > section {
    position: absolute !important;
    inset: 0;
    margin-top: 10px;
}

#CONNECT_QUIZ .vkuiGroup__inner {
    position: absolute !important;
    inset: 0;
}

#CONNECT_QUIZ .vkuiGroup__inner > .vkuiDiv {
    height: 100%;
} */

